---
import IconRenderer, { Icon } from "../utilities/IconRenderer.astro";

const socialIconClasses = "w-5 h-5";
---

<a href="#" aria-label="Facebook" class="text-gray-500 hover:text-brand-green">
    <IconRenderer icon={Icon.Facebook} class={socialIconClasses} />
</a>
<a href="#" aria-label="Instagram" class="text-gray-500 hover:text-brand-green">
    <IconRenderer icon={Icon.Instagram} class={socialIconClasses} />
</a>
<a href="#" aria-label="TikTok" class="text-gray-500 hover:text-brand-green">
    <IconRenderer icon={Icon.Tiktok} class={socialIconClasses} />
</a>
